/* chat-search-dark.css - chat search specific dark stylings */


/* Establish variables for dark theme, background dark grey */
body.dark_theme {
    --input-text-color: #ffffff;
    --input-background-color: #3b3b3b;
    --input-focus-color: #525252;
    
    --button-text-color: var(--input-text-color);
    --button-background-color: #000000;
    --button-hover-color: #525252;
}

/* Text input fields */
body.dark_theme .send_text_input {
    color: var(--input-text-color);
    background-color: var(--input-background-color);
}
body.dark_theme .send_text_input:hover {
    background-color: var(--input-focus-color);
}
body.dark_theme .send_text_input:focus {
    background-color: var(--input-focus-color);
}

/* Buttons */
body.dark_theme .send_button {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
}
body.dark_theme .send_button:hover {
    background-color: var(--button-hover-color);
}
body.dark_theme .send_button:focus {
    background-color: var(--button-hover-color);
}