<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css" >
        <script src="/socket.io/socket.io.js"></script>
        <title>Chat</title>
    </head>

    <body>
        <header>
            <h1>Chat</h1>
        </header>

        <div id="username_change_container_id">
            <div id="username_change_id" class="send_text_container">
                <p>Currently posting as: &nbsp;</p>
                <input id="username_text_id" class="send_text_input" type="text"/>
                <button id="username_send_button_id" class="send_button" type="button">Change username</button>
            </div>
        </div>

        <div id="chatroom_container_id">
            <div id="chatroom_id"></div>
            
        </div>

        <div id="fixed_bottom_footer_id">
            <div id="message_send_container_id">
                <div id="message_send_id" class="send_text_container"> 
                    <textarea id="message_text_id" class="send_text_input" type="text"></textarea>
                    <button id="message_send_button_id" class="send_button" type="button">Send</button>
                </div>
            </div>

            <div id="feedback_container_id">
                <div id="feedback_id">
                    <p id="feedback_text_id">Nobody is currently typing</p>
                </div>
            </div>
        </div>



        <script>
            function htmlDecode(input) {
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }
            var chatRoom = JSON.parse(htmlDecode("<%= JSON.stringify(chatRoom) %>"));
        </script>

        <script src="/js/other/jquery.min.js"></script>
        <script src="/js/chat/chat_constants.js"></script>
        <script src="/js/chat/chat_handlers.js"></script>
        <script src="/js/chat/chat.js"></script>
    </body>
</html>