<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css" >
        <script src="/socket.io/socket.io.js"></script>
        <title>Simple Chat App</title>
    </head>

    <body>
        <header>
            <h1>Chat</h1>
        </header>

        <section>
            <div id="change_username">
            <input id="username" type="text" />
            <button id="send_username" type="button">Change username</button>
            </div>
        </section>

        <section id="chatroom">

            <section id="feedback"></section>
        </section>



        <section id="input_zone"> 
            <input id="message" class="vertical-align" type="text" />
            <button id="send_message" class="vertical-align" type="button">Send</button>
        </section>


        <script>
            function htmlDecode(input) {
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }
            var chatRoom = JSON.parse(htmlDecode("<%= JSON.stringify(chatRoom) %>"));
        </script>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>