<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css" >
        <script src="/socket.io/socket.io.js"></script>
        <title>Chat</title>
    </head>

    <body>
        <header>
            <h1>Chat</h1>
        </header>

        <section>
            <div id="change_username_id">
                <input id="username_text_id" type="text"/>
                <button id="username_send_button_id" type="button">Change username</button>
            </div>
        </section>

        <section id="chatroom_container_id">

            <section id="feedback_id"></section>
            <section id="chatroom_id"></section>
        </section>

        <section id="input_zone_id"> 
            <input id="message_text_id" class="vertical-align" type="text"/>
            <button id="message_send_button_id" class="vertical-align" type="button">Send</button>
        </section>




        <script>
            function htmlDecode(input) {
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }
            var chatRoom = JSON.parse(htmlDecode("<%= JSON.stringify(chatRoom) %>"));
        </script>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/chat/chat_constants.js"></script>
        <script src="/js/chat/chat_handlers.js"></script>
        <script src="/js/chat/chat.js"></script>
    </body>
</html>