<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chat</title>

        
    </head>
    <body>
        <h1>Search for Chat Room here</h1>
        
        <div id="search_container_id">
            <input id="chat_search_text_id" type="text"/>
            <button id="chat_goto_button_id" type="button">Go</button>
        </div>

        <script src="/js/chat/chat_search_constants.js"></script>
        <script src="/js/chat/chat_search_handlers.js"></script>
        <script src="/js/chat/chat_search.js"></script>
    </body>
</html>