<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <link rel="stylesheet" type="text/css" href="/css/general.css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
        
        <script src="/socket.io/socket.io.js"></script>

        <title>Chat</title>
    </head>

    <body>
        <div class="navbar_container">
            <ul class="navbar_ul">
                <div class="navbar_left">
                    <li class="navbar_li">
                        <a href="/" class="navbar_link">Home</a>
                    </li>
                </div>

                <div class="navbar_center">
                    <div id="room_link_id" class="tooltip">
                        <div id="title_id" class="title_text">Chat</div>
                        <div class="tooltip_text">Copy chat link to clipboard</div>
                    </div>
                </div>
                
                <div class="navbar_right">
                    <li class="navbar_dropdown_li">
                        <a href="javascript:void(0)" class="navbar_dropbutton">About</a>
                        <div class="navbar_dropdown_content">
                            <a href="#" class="navbar_link">Chat Application</a>
                            <a href="#" class="navbar_link">Me</a>
                        </div>
                    </li>
                    <li class="navbar_dropdown_li">
                        <a href="javascript:void(0)" class="navbar_dropbutton">Apps</a>
                        <div class="navbar_dropdown_content">
                            <a href="#" class="navbar_link">Chat</a>
                            <a href="#" class="navbar_link">Vote</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>


        <div id="username_change_container_id">
            <div id="username_change_id" class="send_text_container">
                <p>Currently posting as: &nbsp;</p>
                <input id="username_text_id" class="send_text_input" type="text"/>
                <button id="username_send_button_id" class="send_button" type="button">Change username</button>
            </div>
        </div>

        <div id="chatroom_container_id">
            <div id="chatroom_id"></div>
        </div>

        <div id="fixed_bottom_footer_id">
            <div id="message_send_container_id">
                <div id="message_send_id" class="send_text_container"> 
                    <textarea id="message_text_id" class="send_text_input" type="text"></textarea>
                    <button id="message_send_button_id" class="send_button" type="button">Send</button>
                </div>
            </div>

            <div id="feedback_container_id">
                <div id="feedback_id">
                    <p id="feedback_text_id">Nobody is currently typing</p>
                </div>
            </div>
        </div>



        <script>
            function htmlDecode(input) {
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }
            var chatRoom = JSON.parse(htmlDecode("<%= JSON.stringify(chatRoom) %>"));
        </script>

        <script src="/js/other/jquery.min.js"></script>
        <script src="/js/chat/chat_constants.js"></script>
        <script src="/js/chat/chat_handlers.js"></script>
        <script src="/js/chat/chat.js"></script>
    </body>
</html>