


html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #BCA9F5;
}
header {
    text-align: center;
    background-color: #8767e6;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}


.send_text_container {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}
.send_text_container p {
    margin: auto;
    white-space: nowrap;
}
.send_text_input {
    width: auto;
}
.send_button {
    height: 100%;
    width: auto;
    white-space: nowrap;
    margin-left: 5px;
    cursor: pointer;
}


/* Username display and change */
#username_change_container_id {
    display: inline-flex;
    height: 35px;
}
#username_change_id {
    display: flex;
    background-color: #8767e6;
    flex-wrap: nowrap;
}
#username_text_id {
    font-family: 'Comfortaa', sans-serif;
}



/* Chatroom and messages */
#chatroom_container_id {
    height: auto;
    width: 100%;
    margin-bottom: 150px;
    background-color: #BCA9F5;
    overflow: auto;
}
#chatroom_container_id .new_user_container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#chatroom_container_id .message_container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
p.message_info {
    margin-bottom: 0px;
    font-family: 'Comfortaa', sans-serif;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-x: clip;
    color: #505050;
    font-weight: bold;
}
p.message {
    margin-top: 3px;
    font-family: 'Comfortaa', sans-serif;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-x: clip;
    color: black;
}


/* Fixed bottom container */
#fixed_bottom_footer_id {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #8767e6;
}


/* Typing messages */
#fixed_bottom_footer_id #message_send_container_id {
    display: inline-flex;
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
}
#message_send_id {
    height: 100%;
    text-align: center;
    display: flex;
    flex-grow: 1;
}
#message_text_id {
    display: flex;
    flex: 1;
    width: auto;
    height: auto;
    font-family: 'Comfortaa', sans-serif;
    resize: none;
}



/* Feedback, when other users are typing */
#fixed_bottom_footer_id #feedback_container_id {
    margin-top: 0px; 
    height: 40px;
    margin-left: 10px;
}
#feedback_text_id {
    visibility: hidden;
}