/* general.css - general stylings across all pages */

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}
* {
    outline: 0;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
}


/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #8a8a8a; 
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ac8b7c; 
}


/* Navbar */
.navbar_container {
    position: fixed;
    width: 100%;
    display: flex;
    top: 0px;
    height: 45px;
    z-index: 4;
}
.navbar_container .navbar_ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
}


/* Navbar grouping */
.navbar_ul .navbar_left {
    display: flex;
    text-align: left;
}
.navbar_ul .navbar_center {
    display: flex;
    text-align: center;
}
.navbar_ul .navbar_right {
    display: flex;
    text-align: right;
    /* margin-right: 10px; */
}


/* Navbar item */
.navbar_li {
    float: left;
}
.navbar_li a, .navbar_dropbutton {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Navbar dropdown */
.navbar_dropdown_li {
    display: inline-block;
}
.navbar_dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 2;
}
.navbar_dropdown_content a.navbar_link {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar_dropdown_li:hover .navbar_dropdown_content {
    display: block;
}


/* Tooltip */
#room_link_id {
    height: 100%;
    width: 33vw;
    cursor: pointer;
    z-index: 8;
    text-overflow: ellipsis;
}
.title_text {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tooltip_text {
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: 0px;
    border-radius: 6px;
    padding: 5px 3px;
}
.tooltip:hover .tooltip_text {
    visibility: visible;
}


/* Theme toggler */
.theme_toggler {
    outline: 0;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.theme_toggler img {
    outline: 0;
    position: relative;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-top: 5px;
}
.theme_toggler:hover {
    cursor: pointer;
}
